[Unit]
Description=OpenRGB profile

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/usr/bin/openrgb --profile "1s-breathing-mb"
ExecStartPost=/usr/bin/openrgb --profile "1s-breathing-gpu"
